:root{
   /*colores*/

 --Light-red: hsl(0, 100%, 67%);
 --Orangey-yellow: hsl(39, 100%, 56%);
 --Green-teal: hsl(166, 100%, 37%);
 --Cobalt-blue: hsl(234, 85%, 45%);
 --White: hsl(0, 0%, 100%);
 --Pale-blue: hsl(221, 100%, 96%);
 --Light-lavender: hsl(241, 100%, 89%);
 --Dark-gray-blue: hsl(224, 30%, 27%);
 --Violet-blue:hsla(256, 72%, 46%, 1);
}

body{
   display: flex;
  position: relative;
  margin: 0 ;
  justify-content: center;

}
header{
   width: 300px;
   height: 350px;
   display: flex;
   flex-direction: column;   
   margin-top: 80px;
   margin-left: 40px;
   border-radius: 25px;
}

.header--title-container{
   width: 150px;
   height: 150px;
   padding: 40px;
}

.header--description{
   text-align: center;
   line-height: 2.5rem;
}

main{

  width: 300px;
  height: 350px;
  margin-top: 80px;
  background-color: var(--White);

}

.title-main{
   padding-top: 10px;
   padding-left: 30px;
}

.container--section-principal {
   padding: 5px 20px;
   background-color: var(--White);
   box-shadow: 0px 5px 10px rgba(0, 0,0, 0.16);
   width: 300px;
   height: 350px;
   border-radius: 25px;
}



footer{
   position: absolute;
   top: 430px;
}